body {
    background: url("../img/light_toast.png") repeat scroll 0% 0% #F0F0F0
}
.header .navbar  {
    background-color: rgb(39, 55, 108);
}

.container .navbar-header .navbar-brand,
.container .navbar-nav li > a {
    color: white;
}

.container .navbar-header .navbar-brand:hover,
.container .navbar-nav li > a:hover {
    color: #C0BFBF;
}

.post-thumb {
    float: left;
    margin: 3px 15px 10px 0px;
}

.post-container {
	overflow: hidden;
	min-height: 283px;
}

/* SEARCH BUTTON*/
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
    /*border: none;*/
}
.right-inner-addon span {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.GithubLink a{
	color: white;
	float: right;
	margin-top: 14px;
}
.GithubLinkL a:hover {
	color: #C0BFBF;
	text-decoration: none;
}