.post-thumb {
    float: left;
    margin: 3px 15px 10px 0px;
}

.post-container {
	overflow: hidden;
	min-height: 283px;
}

/* SEARCH BUTTON*/
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
    /*border: none;*/
}
.right-inner-addon span {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.GithubLink a{
	color: #5b5b5b;
	float: right;
	margin-top: 14px;
}
.GithubLinkL a:hover {
	color: #5b5b5b;
	text-decoration: none;
}